*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images/NGCP.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.signUpForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.wrapper{
    width: 300px; 
    padding: 20px; 
    background-color: #f8f5f5;
    border-radius: 10px; 
}

input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #39a34a;
    color: #fff; 
    cursor: pointer;
}


